@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-family-sans: "Outfit", sans-serif;
}

.text-title-sm {
  font-size: 1.75rem !important;
  line-height: 2.125rem !important;
}

.text-title-lg {
  font-size: 3rem !important;
  line-height: 3.5rem !important;
}

.text-normal {
  font-size: 0.9375rem !important;
  line-height: 1.3125rem !important;
}

.text-course-details-heading-small {
  font-size: 26px !important;
  line-height: 36px !important;
}

.text-course-details-heading-large {
  font-size: 36px !important;
  line-height: 44px !important;
}

.grid-cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
}

.h-section-height {
  height: 500px !important;
}

body {
  font-family: var(--font-family-sans);
}

button {
  cursor: pointer;
}
