@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-family-sans: "Outfit", sans-serif;
}

.text-title-sm {
  font-size: 1.75rem !important;
  line-height: 2.125rem !important;
}

.text-title-lg {
  font-size: 3rem !important;
  line-height: 3.5rem !important;
}

.text-normal {
  font-size: 0.9375rem !important;
  line-height: 1.3125rem !important;
}

.text-course-details-heading-small {
  font-size: 26px !important;
  line-height: 36px !important;
}

.text-course-details-heading-large {
  font-size: 36px !important;
  line-height: 44px !important;
}

.grid-cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
}

.h-section-height {
  height: 500px !important;
}

.rich-text {
  font-size: 15px;
  color: #7a7b7d;
}

.rich-text p {
  margin-bottom: 16px;
}

.rich-text h1 {
  font-size: 36px;
  font-weight: 800;
  color: #252525;
  margin: 32px 0;
}

.rich-text h2 {
  font-size: 22px;
  font-weight: 700;
  color: #252525;
  margin: 24px 0;
}

.rich-text h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 20px 0;
}

.rich-text h4 {
  font-size: 16px;
  font-weight: 500;
  color: #444;
  margin: 16px 0;
}

.rich-text h5 {
  font-size: 14px;
  font-weight: 400;
  color: #555;
  margin: 12px 0;
}

.rich-text h6 {
  font-size: 12px;
  font-weight: 400;
  color: #666;
  margin: 8px 0;
}

.rich-text strong {
  font-weight: 700;
}

.rich-text ol {
  margin-left: 30px;
  list-style-type: decimal;
}

.rich-text ul {
  margin-left: 30px;
  list-style-type: disc;
}

.rich-text li {
  margin-bottom: 8px;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: var(--font-family-sans);
}

button {
  cursor: pointer;
}
